.spinning-logo {
  max-width: 100px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .spinning-logo {
    animation: spinning-logo-spin infinite 15s linear;
  }
}

@keyframes spinning-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
