@use 'utils/styles/tools';

.App {
  display: grid;
  grid-template-columns: 1fr 4fr;
  width: calc(100vw - 20px);
  max-width: 500px;
  max-height: 400px;
}

.App-header {
  width: 100%;
  height: 100%;
  background-color: #282c34;

  @include tools.center-vh;
}

main {
  border: 2px solid #282c34;

  .container {
    width: 100%;
    height: 100%;
    background-color: white;

    .title {
      text-align: center;
      padding: 15px;
    }

    .todos {
      width: 100%;
      height: 300px;

      .list-wrapper {
        height: 200px;
        max-height: 200px;
        overflow-y: auto;

        .loading {
          width: 100%;
          height: 100%;
          @include tools.center-vh;
        }

        .complete {
          display: none;
        }
      }
    }
  }
}
